body{
    background-color: #ffffff;
    background-image: url("https://www.transparenttextures.com/patterns/diagmonds-light.png");
}

.container-fluid {
    padding: 3% 12% 3%;
  }

.home-img{
    border-top-left-radius: 40%;
    border-bottom-left-radius: 60%;
    background-size: cover;
    border-bottom-right-radius: 5%;
    box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.25), -5px -5px 30px 7px rgba(0, 0, 0, 0.22);
}

.homepage-styl{
    height: 80vh;
    box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.25), -5px -5px 30px 7px rgba(0, 0, 0, 0.22);
    border-bottom-right-radius: 5%;
    margin-top: 5vh;
}

.title-search-container{
    text-align: center;
    margin-top: 30%;
}

.temph{
    font-family: "Montserrat";
    font-size: 2rem;
}

.mainh{
    font-family: 'Fondamento', cursive;
    font-size: 2.5rem;
}

.subh{
    font-family: 'Nothing You Could Do', cursive;
    font-size: 1.5rem;
    margin-left: 20%;
}

.navigate-page{
    background-color: #000000;
    display: inline-block;
    border-radius: 40px;
    padding: 1%;
    height: 3rem;
    margin-top: 2%;
}

form{
    margin-bottom: 30px;
}

.navigate-text{
    vertical-align: middle;
    line-height: 40px;
    background: none;
    border: none;
    outline: none;
    color: #ffffff;
    font-size: large;
    font-family: "Montserrat";
}

.navigate-button, .theme-change-btn{
    vertical-align: middle;
    background: none;
    border: none;
    outline: none;
    color: #ffffff;
    text-align: center;
    font-size: larger;
}
.navigate-button:focus{
    outline: none;
}

.theme-change-btn:focus{
    outline: none;
}

.fa-search, .fa-arrow-right, .fa-spinner{
    color: #000000;
    background-color: #ffffff;
    padding: 30%;
    border-radius: 50%;
}

.fa-spinner{
    animation: rotation 1s infinite linear;
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

.fa-sun, .fa-moon{
    font-size: larger;
}

.theme-change-btns{
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: black;
    border-radius: 40px;
    padding: 1%;
}

.theme-change-btn{
    margin-right: 5px;
    margin-left: 5px;
}

.weather-details{
    text-align: center;
    padding-top: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom-left-radius: 20%;
}

.wdescr{
    display: inline-block;
    font-family: "Montserrat";
    font-size: 1.5rem;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 5px;
    margin-bottom: 10%;
}

.weather-cards{
    margin-bottom: 5%;
    margin-top: 2%;
    text-align: center;
}

.weather-card{
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 5px;
    border-radius: 15px;
}

.crd-heading{
    font-size: 1.3em;
    font-weight: bolder;
}

.crd-body{
    font-size: 0.9em;
}

.feels-like{
    display: inline-block;
    margin-top: 10%;
    margin-bottom: 5%;
    box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.25), -5px -5px 30px 7px rgba(0, 0, 0, 0.22);
    border-radius: 40px;
    padding: 10px;
    font-size: 1rem;
    font-weight: bold;
    font-family: "Montserrat";
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
}

@media (max-width: 767.5px){

    .container-fluid{
        padding: 0;
    }

    .col-md-6, .row{
        padding: 0;
        margin: 0;
    }

    .homepage-styl{
        height: 100vh;
        box-shadow: none;
        border-bottom-right-radius: 0;
        margin-top: 0;
    }

    .navbar-expand .navbar-nav .nav-link {
        padding-right: .7rem;
        padding-left: .7rem;
    }
    
    .home-img{
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        box-shadow: none;
        border-top-left-radius: 80%;
        padding-top: 12rem;
    }

    .theme-change-btns{
        display: none;
    }

    .weather-details{
        border-top-left-radius: 20%;
        border-top-right-radius: 20%;
        padding-top: 40px;
        border-bottom-left-radius: 0;
    }

}