.container {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: black;
    border-radius: 40px;
    padding: 1%;
}

.toggleBtn {
    vertical-align: middle;
    background: none;
    border: none;
    outline: none;
    color: #ffffff;
    text-align: center;
    padding: 0;
    margin: 0 5px;
    font-size: 1.5rem;
    cursor: pointer;
}

@media (max-width: 980px) {
    .container {
        display: none;
    }
}